@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.signup-main-ctn{
    display: flex;
    flex-direction: row; 
    
}


.signup-img{
    width: 800px;
    height: 687px;
}
.welcome{
    color: #000000;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 5%;
    display: block;

}
.signup-txt{
    
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
.sign-up-form{
    padding: 5%;
    margin-bottom: -10%;
}
.form-group input{
    width: 400px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    margin: 3%;
   
}


.sign-up-button {    
    padding: 1%;
    width: 110%;
    background-color: #55229E;
    color: white;
    border-radius: 7.5px;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10%;
    margin-left: 3%;
}
.eye-icon{
    top: -45px;
    position: relative;
}

.login-ctn{
    padding-left: 9%;
    display: flex;
    gap: 38%;
    
}
.acct-tag{
    font-family: Roboto;
    /* font-size: px; */
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    color: #C4C4C4;
}

.form-ctn{
    padding: 4%;
}
